.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}

.btn {
    border: 0;
    background-color: Gainsboro;
    color: black;
}

#inputWindow {
    background-color: LightCyan;
    color: Goldenrod;
}

#calc {
    background-color: PowderBlue;
}

body {
    background-color: Beige;
}